    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item">
        <a class="nav-link text-dark">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Logout" asp-action="Index">Выход</a>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Выход</a>
    </li>
    }